<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/master/masterReviews.css" />
    <script src="/js/master/main.js" defer></script>
    <title>세탁물 관리</title>
    <style type="text/css">
      .tg {
        border-collapse: collapse;
        border-color: #9abad9;
        border-spacing: 0;
      }

      .tg td {
        background-color: #ebf5ff;
        border-color: #9abad9;
        border-style: solid;
        border-width: 1px;
        color: #444;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
      }
      .tg th {
        background-color: #409cff;
        border-color: #9abad9;
        border-style: solid;
        border-width: 1px;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 30px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
      }
      .tg .tg-c3ow {
        border-color: inherit;
        text-align: center;
        vertical-align: top;
        font-size: 30px;
        width: 150px;
      }
      .tg .tg-9d8n {
        border-color: inherit;
        font-size: 22px;
        text-align: center;
        vertical-align: top;
      }
      div {
        width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-custom navbar-mainbg">
      <a class="navbar-brand navbar-logo" href="/masters">10-10-gaza</a>
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="/masters"
              ><i class="far fa-address-book"></i>요청 목록</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/masters/laundryCare"
              ><i class="fas fa-tachometer-alt"></i>내 세탁물 관리</a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/masters/reviews"
              ><i class="far fa-clone"></i>내 세탁소 리뷰보기</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/main"
              ><i class="far fa-clone"></i>로그 아웃</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <h1>리뷰페이지 만들기</h1>
  </body>
</html>
