<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/user_order/nav_bar.css">
    <script src="/js/user_order/nav_bar.js" defer></script>
    <title>main</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-custom navbar-mainbg" id="parent-nav">
      <a class="navbar-brand navbar-logo" href="/">10-10-gaza</a>
      <% const point = Number(userInfo.point); %>
			<% const pointResult = point.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
      <div id="user-point">나의 포인트 : <%= pointResult %></div>
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <li class="nav-item user_order">
            <a class="nav-link" href="/users"
              ><i class="fas fa-tachometer-alt"></i>세탁 요청</a
            >
          </li>
          <li class="nav-item user_orders_list">
            <a class="nav-link" href="/users/orders"
              ><i class="far fa-address-book"></i>내 요청목록</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link linkpoint" href="/logout"
              ><i class="far fa-clone"></i>로그아웃</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>