<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
    <style>
      .wrap-order-list {
        width: 800px;
        margin: auto;
        margin-top: 50px;
      }
      #list-title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
      }
      .btn-size {
        width: 100px;
        border-radius: 0px;
      }
      .interval-between-bnt {
        width: 20px;
      }
      #card-wrap {
        width: 800px;
        margin-top: 50px;
      }
      .card-list {
        width: 770px;
        margin: auto;
        margin-bottom: 25px;
        padding: 20px;
        border: 1px solid gainsboro;
        border-radius: 15px;
        box-shadow: 5px 5px 5px grey;
      }
      .card-top {
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
      }
      .card-top-left {
        font-size: 20px;
        font-weight: bold;
      }
      .card-top-right {
        color: dodgerblue;
        font-size: 17px;
        cursor: pointer;
      }
      .card-detail {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid gainsboro;
        border-radius: 8px;
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .left-side {
        width: 80%;
        height: 150px;
      }
      .right-side {
        width: 20%;
        height: 150px;
        border-left: 1px solid gainsboro;
      }
      .status {
        height: 40px;
        font-size: 20px;
        display: flex;
      }
      .master-store {
        color: green;
      }
      .last-update {
        font-size: 15px;
        margin-top: 5px;
        margin-left: 50px;
        color: gray;
      }
      .status-num {
        width: 120px;
        text-align: center;
        font-weight: 500;
      }
      .card-order-detail {
        width: 100%;
        height: 110px;
        display: flex;
      }
      .order-img {
        overflow: hidden;
      }
      .order-img img {
        width: 110px;
        max-height: 110px;
      }
      .order-request {
        width: 450px;
        margin-left: 10px;
        margin-top: 10px;
      }
      .type {
        display: flex;
      }
      .type-detail {
        border: 1px solid dodgerblue;
        color: dodgerblue;
        margin: 0 5px;
        border-radius: 5px;
        padding: 0 5px;
      }
      .request-detail {
        margin-top: 10px;
      }
      .right-side {
        font-size: 18px;
        color: gray;
        padding-top: 40px;
      }
      .right-side-btn-div {
        width: 100px;
        text-align: center;
        margin: auto;
        border: 1px solid gainsboro;
        border-radius: 8px;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="wrap-order-list">
      <div class="center-list">
        <div id="list-title">주문 목록</div>

        <div class="btn-group">
          <button type="button" class="btn btn-size btn-primary">전체</button>
          <div class="interval-between-bnt"></div>
          <button type="button" class="btn btn-size btn-outline-secondary">
            진행 중
          </button>
          <div class="interval-between-bnt"></div>
          <button type="button" class="btn btn-size btn-outline-secondary">
            완료
          </button>
        </div>

        <div id="card-wrap">
          <div class="card-list">
            <div class="card-top">
              <div class="card-top-left">2022. 12. 30 요청</div>
              <div class="card-top-right">요청 상세보기 >></div>
            </div>
            <div class="card-detail">
              <div class="left-side">
                <div class="status">
                  <div class="status-num">대기 중</div>
                  <div class="master-store">• lololo 에서 처리 중...</div>
                  <div class="last-update">
                    갱신일 : <span>2022. 12. 30</span>
                  </div>
                </div>
                <div class="card-order-detail">
                  <div class="order-img">
                    <img src="/image/publicImg.jpg" />
                  </div>
                  <div class="order-request">
                    <div class="type">
                      <div class="type-detail">생활 빨래</div>
                      <div class="type-detail">개별 클리닝</div>
                    </div>
                    <div class="request-detail">
                      생활 빨래로는 속옷과 양말, 개별 클리닝은 침구류 입니다.
                    </div>
                  </div>
                </div>
              </div>
              <div class="right-side">
                <div class="right-side-btn-div">리뷰 작성</div>
                <div class="right-side-btn-div">요청 취소</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script></script>
  </body>
</html>
