<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
    <title>Document</title>
    <style>			
			.wrap-form {
				width: 700px;
				margin: auto;
				margin-top: 30px;
				margin-bottom: 200px;
			}
			.intro-label {
				font-size: 20px;
				margin-top:40px;
			}
			.form-write {
				margin-top: 0px;
				margin-left: 20px;
			}
			.sub-script {
				margin: 0;
				margin-left: 20px;
				font-size: 13px;
				color: gray;
			}
			.small-top-margin {
				margin-top:15px;
			}
			.middle-top-margin {
				margin-top:70px;
			}
			.img-type-margin {
				margin-bottom:30px;
			}
			.img-show {
				max-width: 500px;
				margin-bottom: 5px;
			}
    </style>
</head>


<body>
    <div class="wrap-form">
        <form class="row g-3">
			<div class="intro-label">
				<label for="form-check-input" class="form-label">1. 세탁물 종류 선택</label>
			</div>
            <div class="col-12 form-write">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="life-laundry" value="option1">
					<label class="form-check-label" for="inlineCheckbox1">생활 빨래</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="individual-laundry" value="option2">
					<label class="form-check-label" for="inlineCheckbox2">개별 클리닝</label>
				</div>
            </div>
			<div class="sub-script">
				* 생활 빨래 - 수건, 양말, 속옷 등 단독 세탁물 <br />
				* 개별 클리닝 - 의류, 침구, 신발 등 개별적 관리가 필요한 세탁물
			</div>
			<div class="intro-label">
				<label for="form-check-input" class="form-label">2. 요청자 사항</label>
			</div>
			<div class="col-md-6 form-write small-top-margin">
				<label for="inputEmail4" class="form-label">닉네임</label>
				<input type="text" class="form-control" id="nickname">
            </div>
            <div class="col-md-6 form-write small-top-margin">
				<label for="inputEmail4" class="form-label">전화번호</label>
				<input type="text" class="form-control" id="phone-number">
            </div>
			<div class="col-md-6 form-write small-top-margin">
				<label for="inputEmail4" class="form-label">이메일</label>
				<input type="text" class="form-control" id="email">
            </div>
			<div class="col-md-6 form-write small-top-margin">
				<label for="inputEmail4" class="form-label">주소</label>
				<input type="text" class="form-control" id="address">
            </div>
			<div class="intro-label">
				<label for="form-check-input" class="form-label">3. 사진</label>
			</div>
			<div class="col-md-6 form-write img-type-margin">
				<img class="img-show" id="img-1-show"/>
				<input class="form-control form-control-sm img-file" id="img-1" type="file" accept="image/*">
			</div>
			<div class="col-md-6 form-write img-type-margin">
				<img class="img-show" id="img-2-show"/>
				<input class="form-control form-control-sm img-file" id="img-2" type="file" accept="image/*">
			</div>
			<div class="col-md-6 form-write img-type-margin">
				<img class="img-show" id="img-3-show"/>
				<input class="form-control form-control-sm img-file" id="img-3" type="file" accept="image/*">
			</div>
			<div class="intro-label">
				<label for="form-check-input" class="form-label">4. 요청사항</label>
			</div>
			<div class="col-md-8 form-write">
            	<input type="text" class="form-control" id="request">
            </div>
            <div class="col-12 middle-top-margin">
            	<button type="button" class="btn btn-primary" id="submitRequestBtn" onclick="submitRequest()">신청 하기</button>
            </div>
        </form>
    </div>



	<script>
		$(document).ready(function () {
			const imgSel = document.querySelectorAll(".img-file");
			for (let i = 1; i <= imgSel.length; i++) {
				imgSel[i-1].addEventListener("change", function (event) {
					let files = event.target.files;

					if (files.length >= 1) {
						insertImageDate(i, files[0])
					}

					if (!files.length) {
						const imgShow = document.querySelector(`#img-${i}-show`);
						imgShow.removeAttribute('src');
					}
				})
			}

			async function insertImageDate (imgNum, file) {
				const imgShow = document.querySelector(`#img-${imgNum}-show`);

				const reader = new FileReader();

				reader.addEventListener('load', function (event) {
					imgShow.src = reader.result;
				});
				reader.readAsDataURL(file);
			}

			const submitBtn = document.querySelector("#submitRequestBtn");
			submitBtn.addEventListener("click", (event) => {
				event.preventDefault();
			})
		});

		const submitRequest = async () => {	
			const lifeLaundry = document.querySelector("#life-laundry").checked;
			const individualLaundry = document.querySelector("#individual-laundry").checked;
			const nickname = document.querySelector("#nickname").value;
			const phoneNumber = document.querySelector("#phone-number").value;
			const email = document.querySelector("#email").value;
			const address = document.querySelector("#address").value;
			const comment = document.querySelector("#request").value;

			if (!lifeLaundry && !individualLaundry) {
				alert("세탁물 종류를 선택해 주세요");
				return
			}
			if (!nickname) {
				alert("닉네임을 입력해 주세요");
				return
			}
			if (!phoneNumber || phoneNumber.length < 11 || phoneNumber.length > 11) {
				alert("휴대폰 번호를 정확히 입력해 주세요");
				return 
			}
			if (!email || !email.includes("@") || !email.includes(".")) {
				alert("이메일을 정확히 입력해 주세요");
				return 
			}
			if (!address) {
				alert("주소를 정확히 입력해 주세요");
				return
			}

			const orderData = {
				life_laundry: lifeLaundry,
				individual_laundry: individualLaundry,
				nickname: nickname,
				phonenumber: phoneNumber,
				email: email,
				address: address,
				comment: comment
			};

			$.ajax({
				type: "POST",
				url: '/api/order',
				data: {result: JSON.stringify(orderData)},
				success: function (response) {
					console.log(response.success);
					if (response.success) {
						console.log(response.data)
						console.log(response.data.order_id);
						submitRequestimg(response.data.order_id, response.data.user_id);
					}
				}
        	});
			
		};

		const submitRequestimg = async (orderId, userId) => {
			const imgTags = document.querySelectorAll(".img-file");
			const order_id = orderId;
			const user_id = userId;
			let formData = new FormData();

			formData.append("order_id", order_id);
			formData.append("user_id", user_id);

			for (let i = 1; i <= imgTags.length; i++) {
				const imgFile = imgTags[i-1].files;
				if (i === 1 && !imgFile.length) {
					return;
				}
				if (imgFile.length >= 1) {
					await formData.append(`imgFile_${i}`, imgFile[0]);
				}
			}

			$.ajax({
				type: "POST",
                enctype: 'multipart/form-data',
                url: '/api/order/img',
                data: formData,
                processData: false,       // 기본 값은 true. false 면 데이터를 query string 으로 설정 하지 않아. 즉 file 을 보내려면 false 로.
                contentType: false,       // 이게 true 로 되어 있으면 데이터를 string 으로 바꾼 다고.
				cache: false,
				success: function (response) {
					console.log("무사히 응답을 받음.")
					console.log(response.success);
					location.href="/users/orders";
				}
			})
		}


	</script>
</body>
</html>