@import url(../nav.css);

input {
  border: 1px solid black;
  border-radius: 3px;
  line-height: 35px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.wrapper {
  padding: 10px;
}

div {
  padding-top: 3px;
  padding-bottom: 8px;
}

.title {
  text-align: center;
  font-weight: 700;
}

.email input {
  width: 100%;
}

.name input {
  width: 100%;
}

.password input {
  width: 100%;
}

.passwordCheck input {
  width: 100%;
}

.auth div {
  width: 30%;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
}

.auth button {
  width: 70%;
}

.signUp button {
  width: 100%;
  cursor: pointer;
}

button {
  cursor: pointer;
  height: 30px;
}

.error {
  font-size: 1px;
  height: 20px;
  color: red;
  font-weight: 700;
}
